
@{
    ViewBag.Title = "Index";
}

<h2>Categoria Curso</h2>

<div id="divTabla">

</div>

<!--Código génerico-->
<script src="~/js/generic.js"></script>
<!--Código específico-->
<script src="~/js/categoriacurso.js"></script>