
@{
    ViewBag.Title = "Index";
}

<h2>Listado Cursos</h2>

<div id="divTabla">

</div>


<!--Código específico-->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/js/datatable.js"></script>
<!--Código génerico-->
<script src="~/js/generic.js"></script>
<script src="~/js/curso.js"></script>